.body{
    background-attachment:fixed;
    background-size: 100%;  
    background-image:url('/resources/Images/back2.gif');
    background-repeat: no-repeat; 
    position: relative; 

    background-size: cover; 
} 
